@model Dictionary<int, List<KarnelTravels.Models.TouristPlaceViewModel>>

@{
    ViewData["Title"] = "Sights";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container">
        <form method="get" action="@Url.Action("TravellingSightView", "Home")">
            <div class="row g-2">
                <div class="col-md-8">
                    <div class="row g-2">
                        <div class="col-md-12">
                            <input type="text" name="searchString" class="form-control border-0 py-3" placeholder="Please enter any keywords to start searching, Ex: Panogar,....">
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-dark border-0 w-100 py-3">Find</button>
                </div>
                <div class="col-md-2">
                    <span><a class="btn btn-warning border-0 w-100 py-3" asp-controller="Home" asp-action="TravellingSightView">Clear filter</a></span>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">Sights</h1>
                    <p>Tourist places based on our data currently updated everyday for your confort in searching</p>
                </div>
            </div>
            <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                <!-- Chọn Spot -->
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-danger active" data-bs-toggle="pill" href="#all">All</a>
                    </li>
                    @foreach (var spot in Model)
                    {
                        <li class="nav-item me-2">
                            <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-@spot.Key">@(spot.Value.FirstOrDefault()?.Namespot)</a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <!-- Tab Content -->
        <div class="tab-content">
            <div id="all" class="tab-pane fade show active p-0">
                <div class="row g-4 wow fadeInUp">
                    @foreach (var spot in Model)
                    {
                        foreach (var place in spot.Value)
                        {
                            <div class="col-lg-3 col-md-6 card border-0">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <img class="card-img-top" height="300px" src="~/img/TblTourist_Place/@place.ImageUrl" s alt="">
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">@place.Namespot</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">@place.Name</h5>
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2">

                                            <button class="btn text-decoration-none" onclick="location.href='@Url.Action("SightDetails", "Home", new { id = place.Id })'"><i class="fa fa-eye text-primary me-2"></i> View More Details</button>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            @foreach (var spot in Model)
            {
                <div id="tab-@spot.Key" class="tab-pane fade p-0">
                    <div class="row g-4">
                        @foreach (var place in spot.Value)
                        {
                            <div class="col-lg-3 col-md-6 card border-0">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <img class="card-img-top" height="300px" src="~/img/TblTourist_Place/@place.ImageUrl" s alt="">
         
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">@place.Namespot</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">@place.Name</h5>
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2">

                                            <button class="btn text-decoration-none" onclick="location.href='@Url.Action("SightDetails", "Home", new { id = place.Id })'"><i class="fa fa-eye text-primary me-2"></i> View More Details</button>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>