@{
    ViewBag.Title = "FormCkeditor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
@model GetAllPack;
<div>
    <a href="/admin/ViewCreateTourPackage">Create</a>
</div>
<div class="row">
    @foreach(var item in Model.Packages)
    {
         <div class="card" style="width:250px;">
            <img class="card-img-top" style="height:280px" src="~/img/tblTour_Packages/@item.url" />
            <div class="card-body">
                <h4 class="card-title">@item.Name</h4>
                <div class="text-muted card-subtitle">@item.StartDate - @item.EndDate</div>
                @Html.Raw(item.Description)
                @* <p class="card-text">@item.Description</p> *@
                <button class="btn btn-default btn-sm">
                    <i class="fa fa-plus"></i>
                    <a href="/admin/ViewEditAdminTourPackage?idt=@item.PackageId">Edit</a
                </button>
                
                 <button class="btn btn-default btn-sm">
                    <i class="fa fa-plus"></i>
                    <a href="/admin/DeleteAdminPackage?idt=@item.PackageId">Delete</a
                </button>
            </div>
        </div>
    }

</div>
<nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        @if (Model.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("AdminTourPackage", new { page = Model.CurrentPage - 1, pageSize = Model.PageSize })" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        }
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                <a class="page-link" href="@Url.Action("AdminTourPackage", new { page = i, pageSize = Model.PageSize })">@i</a>
                            </li>
                        }
                        @if (Model.CurrentPage < Model.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("AdminTourPackage", new { page = Model.CurrentPage + 1, pageSize = Model.PageSize })" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>