@{
    ViewBag.Title = "FormCkeditor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
@model GetCar_Plane_Train;
<div>
    <a class="btn btn-info" href="/admin/ViewCreateAdminTransport">Create</a> &nbsp;
    <a class="btn btn-info" href="/admin/ViewUploadImageHotel">UpLoad Image</a>
</div>
@* <div>
    <a href="/admin/ViewUploadImageHotel">UpLoadImage</a>
</div> *@
<div class="row">

    @foreach(var item in Model.All)
    {
         <div class="card" style="width:250px;">
             <img class="card-img-top" style="height:280px" src="~/img/Travel/@item.url" />
            <div class="card-body">
                <h4 class="card-title">@item.Name</h4>
                <div class="text-muted card-subtitle">@item.Price</div>
               @Html.Raw(item.Description) 
                <button class="btn btn-default btn-sm">
                    <i class="fa fa-plus"></i>
                    <a href="/Admin/ViewEditAdminTransport?idt=@item.TravelId">Edit</a
                </button>
                
               
                 <button class="btn btn-default btn-sm">
                    <i class="fa fa-plus"></i>
                    <a href="/Admin/DeleteAdminTransport?idt=@item.TravelId">Delete</a
                </button>
            </div>
        </div>
    }
</div>
<nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        @if (Model.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("AdminTransportView", new { page = Model.CurrentPage - 1, pageSize = Model.PageSize })" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        }
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                <a class="page-link" href="@Url.Action("AdminTransportView", new { page = i, pageSize = Model.PageSize })">@i</a>
                            </li>
                        }
                        @if (Model.CurrentPage < Model.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("AdminTransportView", new { page = Model.CurrentPage + 1, pageSize = Model.PageSize })" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>