@model List<KarnelTravels.Models.TouristPlaceViewModel>
@{
    ViewBag.Title = "FormCkeditor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title"><span><a asp-action="CreateTouristPlace" asp-controller="Admin" class="btn btn-primary">Create New Place</a></span></div>
            </div>
            <div class="ibox-body">
                <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">image</th>
                            <th class="text-center">Spot</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            @foreach (var place in Model)
                            {
                                <tr>
                                    <td class="text-center">@place.Name</td>
                                    <td class="text-center">@place.Description</td>
                                    <td><img src="~/img/TblTourist_Place/@place.ImageUrl" alt="Place Image" style="width: 100px; height: auto;" /></td>
                                    <td class="text-center">@place.Namespot</td>
                                    <td class="text-center">@place.Status</td>
                                    <td>
                                        <div class="btn-group btn-group-sm">
                                            <form><a asp-controller="Admin" asp-action="EditTouristPlace" asp-route-id="@place.Id" class="btn btn-info">Edit</a></form> &nbsp;
                                            <form asp-controller="Admin" asp-action="DeleteTouristPlace" method="post">
                                                <input type="hidden" name="id" value="@place.Id" />
                                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this hotel?')">Delete</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5">
                                    <div>
                                        No Hotel available at this moment
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
