@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
@model GetCar_Plane_Train;

<div class="row">
    <div class="col-8" style="min-height:40rem;">
        <form id="frmData" action="/admin/CreateAdminTransport" method="post" enctype="multipart/form-data">
            <div>Name</div>
            <input type="text" name="Name">
            <div>Price</div>
            <input type="text" name="Price">
            <div>Diem di</div>
            <select class="form-select border-0 py-3" name="spot">

                <option selected>Chon</option>
                @foreach (var item in Model.Spots)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <div>Diem Den</div>
            <select class="form-select border-0 py-3" name="spot1">

                <option selected>Chon</option>
                @foreach (var item in Model.Spots)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <div>Phuong Tien</div>
            
            <select class="form-select border-0 py-3" name="Tran">

                <option selected>Chon</option>
                @foreach (var item in Model.Transportations)
                {
                    <option value="@item.CatId">@item.CatName</option>
                }
            </select>

            <div class="col-sm-10">
                <input class="form-control" type="file" name="FileImg">
            </div>

            <div id="editor"></div>
            <input type="hidden" name="mydata" id="mydata" value="" />
            <input type="submit" name="btnSave" id="btnSave" value="Save" />
        </form>



    </div>
    <script src="~/ckeditor/ckeditor.js" type="text/javascript"></script>

    @section scripts {

        <script>
            CKEDITOR.replace('editor');
            //window.onload = function () {

            //};
            $(document).ready(function (e) {

                $("#btnSave").click(function (e) {
                    e.preventDefault();
                    var dt = CKEDITOR.instances['editor'].getData();
                    $("#mydata").val(dt);
                    $("#frmData").submit();
                });
            });
            var pathImg = "";
            window.onload = () => {
                var lsImage = document.querySelectorAll(".pic-rect>img");

                for (i = 0; i < lsImage.length; i++) {
                    lsImage[i].onclick = (event) => {
                        var current_img = event.target;
                        pathImg = current_img.src;
                    }
                }
                setInterval(() => {
                    var q = document.querySelector("#cke_103_textInput");
                    if (q != null) {
                        if (q.value == "") {
                            q.value = pathImg;
                            pathImg = "";
                        }

                    }
                }, 100);
            }
        </script>
    }
