@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var q = ViewBag.pack as TblTourPackage;
    
}
<!--View to Edit Tour Packages-->
@model GetHotel_Res_Re;
<div class="row">
    
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">Edit this tour package</div>
                <div class="ibox-tools">
                    <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                </div>
            </div>
            <div class="ibox-body">
                <form id="frmData" action="/Admin/EditAdminTourPackage" class="form-horizontal" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>ID</label>
                            <input readonly value="@q.PackageId" class="form-control" type="text" name="PackageId">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Name<span class="text-muted" style="font-size:10px">- Select name</span></label>
                            <input value="@q.Name" class="form-control" name="Name">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Price<span class="text-muted" style="font-size:10px">- Select price</span></label>
                            <input value="@q.TotalPrice" class="form-control" name="TotalPrice">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6" id="date_1">
                            <label class="font-normal">Start Date <span class="text-muted" style="font-size:10px">- Select start date</span></label>
                            <input type="hidden" class="form-control">
                            <div class="input-group date">
                                <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                <input class="form-control" type="date" id="datepicker" value=@Convert.ToString(string.Format("{0:yyyy-MM-dd}", @q.StartDate)) name="StartDate">
                                <script>
                                    $(function () {
                                        $("#datepicker").datepicker({ dateFormat: "mm/dd/yyyy" });
                                    });                           
                                </script>
                            </div>
                        </div>
                        <div class="form-group col-md-6" id="date_2">
                            <label class="font-normal">End Date <span class="text-muted" style="font-size:10px">- Select end date</span></label>
                            <input  type="hidden" class="form-control">
                            <div class="input-group date">
                                <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                <input class="form-control" type="date" value=@Convert.ToString(string.Format("{0:yyyy-MM-dd}", @q.EndDate)) id="datepicker" name="EndDate">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Spot <span class="text-muted" style="font-size:10px">- Select departure spot</span></label>
                            <select class="form-control" name="SportId">
                                <option selected value="@q.SportId">@q.SportId</option>

                                @foreach (var item in Model.tblSpots)
                                {
                                    <option value="@item.Id">@item.Id - @item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Image <span class="text-muted" style="font-size:10px">- Select upload image</span></label>
                            <input class="form-control" type="file" name="FileImg" multiple>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Current images of this entity</label>
                        </div>
                        @foreach (var item in Model.HrImages)
                        {
                            <div class="col-md-4">
                                <div class="card h-100">
                                    <img style="object-fit:cover;" height="200px" width="auto" id="hotelImage_@item.Id" src="~/img/Tour_Package/@item.Url" class="small-image" alt="">
                                    <button id="deletebtn" class="btn btn-warning btn-sm delete-image-btn" data-image-id="@item.Id">
                                        <i class="fa fa-minus"></i> Delete
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                    <br/>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Description</label>
                            <textarea id="editor" asp-for="@q.Description" class="form-control"></textarea>
                            <input type="hidden" name="mydata" id="mydata" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <button name="btnSave" id="btnSave" class="btn btn-info" type="submit">Submit changes</button>
                            <a class="btn btn-danger" asp-action="AdminTourPackage" asp-controller="Admin">Go back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
<script src="~/ckeditor/ckeditor.js" type="text/javascript"></script>

@section scripts {

    <script>
        CKEDITOR.replace('editor');
        //window.onload = function () {

        //};
        $(document).ready(function (e) {

            $("#btnSave").click(function (e) {
                e.preventDefault();
                var dt = CKEDITOR.instances['editor'].getData();
                $("#mydata").val(dt);
                $("#frmData").submit();
            });
        });
        var pathImg = "";
        window.onload = () => {
            var lsImage = document.querySelectorAll(".pic-rect>img");

            for (i = 0; i < lsImage.length; i++) {
                lsImage[i].onclick = (event) => {
                    var current_img = event.target;
                    pathImg = current_img.src;
                }
            }
            setInterval(() => {
                var q = document.querySelector("#cke_103_textInput");
                if (q != null) {
                    if (q.value == "") {
                        q.value = pathImg;
                        pathImg = "";
                    }

                }
            }, 100);
        }
    </script>
    <script>
        $(document).ready(function () {
            // Attach click event handler to all delete buttons with class "delete-image-btn"
            $(".delete-image-btn").on("click", function (event) {
                event.preventDefault(); // Prevent default form submission

                const imageId = parseInt($(this).data("image-id"), 10); // Get image ID from data-attribute

                if (confirm("Are you sure you want to delete this image?")) {
                    deleteImage(imageId); // Call the deleteImage function
                }
            });
        });

        function deleteImage(imageId) {
            const imageElement = $("#hotelImage_" + imageId);
            const deletebtn = $("#deletebtn");
            if (imageElement.length) { // Check if image element exists
                // Remove image element from DOM
                imageElement.remove();
                deletebtn.remove();
                // Send AJAX request to server for permanent deletion (optional)
                $.ajax({
                    url: "/Admin/DeletePackImg/" + imageId, // Assuming your server-side action URL
                    method: "POST", // Assuming your server-side method expects POST
                    data: { imageId: imageId }, // Send image ID as data
                    success: function (data) {
                        // Handle successful deletion response (optional)
                        console.log("Image deletion status:", data);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        // Handle error response (e.g., display error message)
                        console.error("Error deleting image:", xhr.status, thrownError);
                    }
                });
            } else {
                console.error("Image element with ID 'hotelImage_" + imageId + "' not found.");
            }
        }
    </script>
}
